<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.esm.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="container">
    <div align="center">
        <div class="card">
            <h1><a name="youtube"><p>
                        <a href="https://youtu.be/xRNDvD-qq1c?si=BKFNXwAC71uCUxp2"><%= youtube %></a>
                    </p></a></h1>
        </div>
        <iframe width="530" height="315" src="https://www.youtube.com/embed/xRNDvD-qq1c?si=JX203WUrlWu095gi"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <div class="alert">
            <h3><p><%= data %></p></h3>
            <h3><p><%= data_full %></p></h3>
            <h3><p><%= neovim %></p></h3>
            <h3><p><%= jetbrains %></p></h3>
            <h3>
                <p><%= reason %></p>
                <p><%= settings %></p>
                <p><%= plugins %></p>
            </h3>
            <h3>
                <p><%= ides %></p>
            </h3>
        </div>
        <div class="card">
            <p id="cpr"><%= copy %></p>
            <script src="js/copyright.js"></script>
        </div>
    </div>
</div>
</body>
</html>