<!DOCTYPE html>
<html>
<head>
    <a name="title"><title><%= title %></title></a>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.esm.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
</head>
<main class="main">
    <div class="menu-wrapper">
        <input type="checkbox" id="menu-toggle" hidden>

        <label class="menu-icon" for="menu-toggle">
            <span></span>
            <span></span>
            <span></span>
        </label>

        <div class="overlay"></div>
        <nav class="menu">
            <ul>
                <li><a href="#title"><p><%= title %></p></a></li>
                <li><a href="#SPA"><p><%= spa %></p></a></li>
                <li><a href="#GitHub"><p><%= github %></p></a></li>
                <li><a href="#GitHubPage"><p><%= githubpages %></p></a></li>
                <li><a href="#Gist"><p><%= gist %></p></a></li>
                <li><a href="#youtube"><p><%= youtube %></p></a></li>
                <li><a href="#copy"><p><%= author %></p></a></li>
            </ul>
        </nav>
    </div>
    <div class="container">
        <div align="center">
            <div class="card">
                <h1><a name="youtube"><p>
                            <a href="https://youtu.be/xRNDvD-qq1c?si=BKFNXwAC71uCUxp2"><%= youtube %></a>
                        </p></a></h1>
                <iframe width="530" height="315" src="https://www.youtube.com/embed/xRNDvD-qq1c?si=JX203WUrlWu095gi"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="alert">
                    <h3>
                        <p><%= data %></p>
                        <p><%= data_full %></p>
                        <p><%= neovim %></p>
                        <p><%= jetbrains %></p>
                        <p><%= reason %></p>
                        <p><%= settings %></p>
                        <p><%= plugins %></p>
                        <p><%= ides %></p>
                    </h3>
                </div>
            </div>
            <div class="card">
                <h3>
                    <a name="SPA"><p><%= spa_full %></p></a>
                    <p><%= spa_dev %></p>
                    <p><%= spa_js %></p>
                    <p><%= spa_cm %></p>
                </h3>
            </div>
            <div class="card">
                <h3><a name="GitHub"><p><a href="https://github.com/takkii"><%= github %></a></p></a></h3>
                <p><img src="images/GitHub.gif" alt="GitHub profile"></p>
                <div class="alert">
                    <h3>
                        <p><%= github_pf %></p>
                        <p><%= github_op %></p>
                        <p><%= github_us %></p>
                        <p><%= github_me %></p>
                    </h3>
                </div>
            </div>
            <div class="card">
                <h3><a name="GitHubPage"><p><a href="https://takkii.github.io/"><%= githubpages %></a></p></a></h3>
                <p><img src="images/GitHubIO.gif" alt="GitHub pages"></p>
                <div class="alert">
                    <h3>
                        <p><%= githubp_pf %></p>
                        <p><%= githubp_bd %></p>
                        <p><%= githubp_sy %></p>
                        <p><%= githubp_old %></p>
                    </h3>
                </div>
            </div>
            <div class="card">
                <h3><a name="Gist"><p><a href="https://gist.github.com/takkii"><%= gist %></a></p></a></h3>
                <p><img src="images/Gist.gif" alt="Gist pages"></p>
                <div class="alert">
                    <h3>
                        <p><%= gist_p %></p>
                        <p><%= gist_op %></p>
                        <p><%= gist_sh %></p>
                        <p><%= gist_mix %></p>
                    </h3>
                </div>
            </div>
            <div class="card">
                <a name="copy"><p id="cpr"><%= copy %></p></a>
                <script src="js/copyright.js"></script>
            </div>
        </div>
    </div>
</main>
</html>